@model LAMBusiness.Web.Models.ViewModels.ProductoDetailsViewModel

@{
    ViewData["Title"] = "Productos";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Productos</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active">Detalle</li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Productos" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body py-4">
        <div class="row px-md-3">
            <div class="card-lam-d1 col-12">
                <div class="card-header-lam-d1">
                    <img src="~/images/productos/sm/ShoppingCart.png" alt="" />
                    <div class="ml-md-4">
                        <p class="font-weight-bold m-0 pt-2 pt-md-0 title">@Html.DisplayFor(model => model.ProductoNombre)</p>
                        <span class="d-block mb-3 subtitle text-muted">@Html.DisplayFor(model => model.ProductoDescripcion)</span>
                        <a asp-action="Edit" asp-route-id="@Model.ProductoID" class="badge badge-base px-3 py-2">Editar</a>
                        <a asp-action="Index" class="badge badge-light border px-3 py-2">Regresar</a>
                    </div>
                </div>
                <div class="card-body-lam-d1 mt-2">
                    <div class="row no-gutters row-bordered border">
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-barcode display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small">@Html.DisplayNameFor(model => model.Codigo)</div>
                                    <h5>@Html.DisplayFor(model => model.Codigo)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-dollar-sign display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.PrecioCosto)</div>
                                    <h5>@Html.DisplayFor(model => model.PrecioCosto)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-dollar-sign display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.PrecioVenta)</div>
                                    <h5>@Html.DisplayFor(model => model.PrecioVenta)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                @if (Model.Activo)
                                {
                                    <i class="far fa-check-circle display-4 text-success"></i>
                                    <div class="ml-3">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-success">Disponible</h5>
                                    </div>
                                }
                                else
                                {
                                    <i class="fas fa-ban display-4 text-danger"></i>
                                    <div class="ml-4">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-danger">No Disponible</h5>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters row-bordered border border-top-0">
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fab fa-uniregistry display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Unidades.UnidadNombre)</div>
                                    <h5>@Html.DisplayFor(model => model.Unidades.UnidadNombre)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-percentage display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.TasasImpuestos.Tasa)</div>
                                    <h5>@Html.DisplayFor(model => model.TasasImpuestos.Tasa)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-cubes display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.ExistenciaMaxima)</div>
                                    <h5>@Html.DisplayFor(model => model.ExistenciaMaxima)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-cube display-4 text-info"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Existencia)</div>
                                    <h5 class="info">@Html.DisplayFor(model => model.Existencia)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-4">
                    @if (Model.ProductosAsignadosViewModel.Count > 0)
                    {
                        if (Model.Paquete == null)
                        {
                            <p class="font-weight-bold text-base">Producto asignado al(os) paquete(s).</p>
                        }
                        else
                        {
                            <p class="font-weight-bold text-base">Pieza asignada</p>
                        }
                        <hr />
                        foreach (var productoAsignado in Model.ProductosAsignadosViewModel)
                        {
                            <div class="row border-bottom">
                                <div class="col-12 col-md-3 mb-2">
                                    <span class="font-weight-bold">Código</span>
                                    <span class="d-block">@productoAsignado.Codigo</span>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <span class="font-weight-bold">Descripción</span>
                                    <span class="d-block">@productoAsignado.Descripcion</span>
                                </div>
                                <div class="col-12 col-md-2 mb-2 text-md-right">
                                    <span class="font-weight-bold">Piezas x Paquete</span>
                                    <span class="d-block">@productoAsignado.Cantidad</span>
                                </div>
                                <div class="col-12 col-md-1 mb-2 text-right">
                                    <a asp-action="Edit" asp-route-id="@productoAsignado.ProductoID" class="d-block d-md-inline text-decoration-none">
                                        <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar producto">
                                            <i class="fa fa-edit"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>