@model LAMBusiness.Web.Models.ViewModels.ProductoDetailsViewModel

@{
    ViewData["Title"] = "Productos";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Productos</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active">Detalle</li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Productos" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body py-4">
        <div class="row px-md-3">
            <!--Información del producto-->
            <div class="card-lam-d1 col-12">
                <div class="card-header-lam-d1">
                    <img src="~/images/productos/sm/ShoppingCart.png" alt="" />
                    <div class="ml-md-4">
                        <p class="font-weight-bold m-0 pt-2 pt-md-0 title">@Html.DisplayFor(model => model.ProductoNombre)</p>
                        <span class="d-block mb-3 subtitle text-muted">@Html.DisplayFor(model => model.ProductoDescripcion)</span>
                        <a asp-action="Edit" asp-route-id="@Model.ProductoID" class="badge badge-base px-3 py-2">Editar</a>
                        <a asp-action="Index" class="badge badge-light border px-3 py-2">Regresar</a>
                    </div>
                </div>
                <div class="card-body-lam-d1 mt-2">
                    <div class="row no-gutters row-bordered border">
                        <div class="bg-row d-flex col-md-6 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-barcode display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small">@Html.DisplayNameFor(model => model.Codigo)</div>
                                    <h5>@Html.DisplayFor(model => model.Codigo)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-dollar-sign display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.PrecioCosto)</div>
                                    <h5>@Html.DisplayFor(model => model.PrecioCosto)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-dollar-sign display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.PrecioVenta)</div>
                                    <h5>@Html.DisplayFor(model => model.PrecioVenta)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-3 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fab fa-uniregistry display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Unidades.UnidadNombre)</div>
                                    <h5>@Html.DisplayFor(model => model.Unidades.UnidadNombre)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-3 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="far fa-copyright display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Marcas.MarcaNombre)</div>
                                    <h5>@Html.DisplayFor(model => model.Marcas.MarcaNombre)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-3 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-percentage display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.TasasImpuestos.Tasa)</div>
                                    <h5>@Html.DisplayFor(model => model.TasasImpuestos.Tasa)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-3 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                @if (Model.Activo)
                                {
                                    <i class="far fa-check-circle display-4 text-success"></i>
                                    <div class="ml-3">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-success">Disponible</h5>
                                    </div>
                                }
                                else
                                {
                                    <i class="fas fa-ban display-4 text-danger"></i>
                                    <div class="ml-4">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-danger">No Disponible</h5>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Productos asignados a paquetes-->
            <div class="col-12">
                <div class="my-4">
                    @if (Model.ProductosAsignadosViewModel.Count > 0)
                    {
                        if (Model.Paquete == null)
                        {
                            <p class="font-weight-bold text-base">Producto asignado al(os) paquete(s).</p>
                        }
                        else
                        {
                            <p class="font-weight-bold text-base">Pieza asignada</p>
                        }
                        <hr />
                        if (Model.ProductosAsignadosViewModel.Count > 0)
                        {
                            <div class="row border-bottom d-none d-md-flex px-2 no-gutters">
                                <div class="col-12 col-md-3 col-lg-2 mb-2">
                                    <span class="font-weight-bold">Código</span>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <span class="font-weight-bold">Descripción</span>
                                </div>
                                <div class="col-12 col-md-3 col-lg-2 mb-2 text-md-right">
                                    <span class="font-weight-bold">Piezas x Paquete</span>
                                </div>
                                <div class="col-12 col-md-0 col-lg-2 mb-2 text-right">
                                </div>
                            </div>
                        }
                        foreach (var productoAsignado in Model.ProductosAsignadosViewModel)
                        {
                            <div class="bg-row row align-items-center border-bottom py-2 px-2 no-gutters">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <span class="font-weight-bold d-block d-md-none">Código</span>
                                    <span class="d-block">@productoAsignado.Codigo</span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <span class="font-weight-bold d-block d-md-none">Descripción</span>
                                    <span class="d-block">@productoAsignado.Descripcion</span>
                                </div>
                                <div class="col-12 col-md-2 text-md-right">
                                    <span class="font-weight-bold d-block d-md-none">Piezas x Paquete</span>
                                    <span class="d-block">@productoAsignado.Cantidad</span>
                                </div>
                                <div class="col-12 col-md-1 col-lg-2 text-right">
                                    <a asp-action="Edit" asp-route-id="@productoAsignado.ProductoID" class="text-decoration-none">
                                        <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar producto">
                                            <i class="fa fa-edit"></i>
                                        </div>
                                    </a>
                                    <a href="#" data-id="@productoAsignado.ProductoID" class="deleteConfirm text-decoration-none" data-toggle="modal" data-target="#deleteConfirm">
                                        <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="eliminar producto">
                                            <i class="fa fa-trash"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!--Existencias-->
            <div class="col-12">
                <div class="my-4">
                    @if (Model.Existencias.Count > 0)
                    {
                        <p class="font-weight-bold text-base">Existencia por almacén</p>
                        <hr />
                        <div class="row border-bottom d-none d-md-flex px-2 no-gutters">
                            <div class="col-12 col-md-9 mb-2">
                                <span class="font-weight-bold">Almacén</span>
                            </div>
                            <div class="col-12 col-md-3 mb-2 text-md-right">
                                <span class="font-weight-bold">Existencia</span>
                            </div>
                        </div>
                        foreach (var existencia in Model.Existencias.OrderBy(e => e.Almacenes.AlmacenNombre))
                        {
                            <div class="bg-row row align-items-center border-bottom py-2 px-2 no-gutters">
                                <div class="col-12 col-md-9">
                                    <span class="font-weight-bold d-block d-md-none">Almacén</span>
                                    <span class="d-block">@existencia.Almacenes.AlmacenNombre</span>
                                    <small class="d-block">@existencia.Almacenes.AlmacenDescripcion</small>
                                </div>
                                <div class="col-12 col-md-3 text-md-right">
                                    <span class="font-weight-bold d-block d-md-none">Existencia</span>
                                    <span class="d-block">@existencia.ExistenciaEnAlmacen</span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteConfirmDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var itemToDelete;

        $(document).ready(function () {

            $('.deleteConfirm').click((e) => {
                itemToDelete = e.currentTarget.dataset.id;
            });

            $("#DeleteYesButton").click((e) => {
                window.location.href = '@Url.Action("Delete", "Productos")' + '/' + itemToDelete;
            });
        });
    </script>
}
