@model LAMBusiness.Web.Models.ViewModels.ProductoDetailsViewModel

@{
    ViewData["Title"] = "Productos";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Productos</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active">Detalle</li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Productos" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body py-4">
        <div class="row px-md-3">
            <div class="card-lam-d1 col-12">
                <div class="card-header-lam-d1">
                    <img src="~/images/productos/sm/ShoppingCart.png" alt="" />
                    <div class="ml-md-4">
                        <p class="font-weight-bold m-0 pt-2 pt-md-0 title">@Html.DisplayFor(model => model.ProductoNombre)</p>
                        <span class="d-block mb-3 subtitle text-muted">@Html.DisplayFor(model => model.ProductoDescripcion)</span>
                        <a asp-action="Edit" asp-route-id="@Model.ProductoID" class="badge badge-base px-3 py-2">Editar</a>
                    </div>
                </div>
                <div class="card-body-lam-d1">
                    <div class="row no-gutters">
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <div class="fas fa-barcode display-4 text-secondary"></div>
                                <div class="ml-3">
                                    <div class="text-muted small">@Html.DisplayNameFor(model => model.Codigo)</div>
                                    <h3>@Html.DisplayFor(model => model.Codigo)</h3>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <div class="fab fa-uniregistry display-4 text-secondary"></div>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Unidades.UnidadNombre)</div>
                                    <h3>@Html.DisplayFor(model => model.Unidades.UnidadNombre)</h3>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-md-6 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <div class="fas fa-percentage display-4 text-secondary"></div>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.TasasImpuestos.Tasa)</div>
                                    <h3>@Html.DisplayFor(model => model.TasasImpuestos.Tasa)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col">
            <div class="row">
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Codigo)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.Codigo)</span>
                </div>
                <div class="col-12 col-md-8 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductoNombre)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.ProductoNombre)</span>
                </div>
                <div class="col-12 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.ProductoDescripcion)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.ProductoDescripcion)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Unidades.UnidadNombre)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.Unidades.UnidadNombre)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Existencia)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.Existencia)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.ExistenciaMaxima)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.ExistenciaMaxima)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.TasasImpuestos.Tasa)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.TasasImpuestos.Tasa)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.PrecioCosto)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.PrecioCosto)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.PrecioVenta)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.PrecioVenta)</span>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Activo)</span>
                    <span class="d-block">@Html.DisplayFor(model => model.Activo)</span>
                </div>
            </div>
            <div class="my-4">
                @if (Model.ProductosAsignadosViewModel.Count > 0)
                {
                    if (Model.Paquete == null)
                    {
                        <p class="font-weight-bold text-base">Producto asignado al(os) paquete(s).</p>
                    }
                    else
                    {
                        <p class="font-weight-bold text-base">Pieza asignada</p>
                    }
                    <hr />
                    foreach (var productoAsignado in Model.ProductosAsignadosViewModel)
                    {
                        <div class="row border-bottom">
                            <div class="col-12 col-md-3 mb-2">
                                <span class="font-weight-bold">Código</span>
                                <span class="d-block">@productoAsignado.Codigo</span>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <span class="font-weight-bold">Descripción</span>
                                <span class="d-block">@productoAsignado.Descripcion</span>
                            </div>
                            <div class="col-12 col-md-2 mb-2 text-md-right">
                                <span class="font-weight-bold">Piezas x Paquete</span>
                                <span class="d-block">@productoAsignado.Cantidad</span>
                            </div>
                            <div class="col-12 col-md-1 mb-2 text-right">
                                <a asp-action="Edit" asp-route-id="@productoAsignado.ProductoID" class="d-block d-md-inline text-decoration-none">
                                    <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar producto">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>*@
        </div>
    </div>
    @*<div class="modal-footer justify-content-between">
        <div class="px-md-3">
            <a asp-action="Edit" asp-route-id="@Model.ProductoID" class="btn btn-base">Editar</a>
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>*@
</div>