@model IEnumerable<LAMBusiness.Shared.Catalogo.Producto>

@{
    ViewData["Title"] = "Productos";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Productos</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active">@Model.Count() Registro(s)</li>
            </ul>
        </div>
        <a asp-action="Catalogo" asp-controller="Menu" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body pt-4">
        <div class="row px-md-3">
            <div class="col-9 col-md-8 pr-0 pr-md-3">
                <div class="input-group mb-3">
                    <input type="search" id="SearchInput" class="form-control" placeholder="Buscar..." onkeypress="search(event);">
                    <div class="input-group-append">
                        <button class="btn btn-light border" type="button" onclick="search(event);"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-4 text-right">
                <p><a asp-action="Create" class="btn btn-base"><i class="fas fa-plus"></i><span class="d-none d-md-inline-block ml-2">Nuevo Registro</span></a></p>
            </div>
        </div>
        <div>
            <div class="row px-md-3 font-weight-bold text-uppercase">
                <div class="border-bottom col-12 px-3 py-2">
                    @Html.DisplayNameFor(model => model.ProductoDescripcion)
                </div>
            </div>
            <div class="row px-md-3" id="dRows" data-charging="0" data-rows-next="1">
                @foreach (var item in Model.Take(50))
                {
                    <div class="border-bottom col-10 col-md-9 px-3 py-2">
                        <span class="text-dark">@Html.DisplayFor(modelItem => item.ProductoNombre)</span>
                        <div class="d-block">
                            <small class="text-muted">Código: @Html.DisplayFor(modelItem => item.Codigo)</small>
                            @if (item.Paquete == null)
                            {    
                                <small class="badge badge-light border">Pieza</small>}
                            else
                            {
                                <small class="badge badge-secondary">Caja</small>}

                        </div>
                        <small class="d-block text-muted">@Html.DisplayFor(modelItem => item.ProductoDescripcion)</small>
                    </div>
                    <div class="border-bottom col-2 col-md-3 px-3 py-2 text-right">
                        <a asp-action="Details" asp-route-id="@item.ProductoID" class="d-block d-md-inline text-decoration-none">
                            <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="ver detalle">
                                <i class="fa fa-file-alt"></i>
                            </div>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.ProductoID" class="d-block d-md-inline text-decoration-none">
                            <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar registro">
                                <i class="fa fa-edit"></i>
                            </div>
                        </a>
                        <a href="#" data-id="@item.ProductoID" class="d-block d-md-inline deleteConfirm text-decoration-none" data-toggle="modal" data-target="#deleteConfirm">
                            <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="eliminar registro">
                                <i class="fa fa-trash"></i>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteConfirmDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var skip = 0;
        var itemToDelete;

        $(document).ready(function () {
            $(window).on("scroll", function () {
                if ($('#dRows')[0] !== this.undefined &&
                    $('#dRows').attr('data-rows-next') === "1" &&
                    $('#dRows').attr('data-charging') === "0")
                {
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 50;
                        addRowsNext(skip);
                    }
                }
            });

            $('.deleteConfirm').click((e) => {
                itemToDelete = e.currentTarget.dataset.id;
            });

            $("#DeleteYesButton").click((e) => {
                window.location.href = '@Url.Action("Delete", "Productos")' + '/' + itemToDelete;
            });
        });

        function addRowsNext(skip, inicio = false) {
            addProcessWithSpinner('Cargando Productos...');
            $('#dRows').attr('data-charging', "1");
            var searchBy = $('#SearchInput')[0] === undefined ? "" : $('#SearchInput').val();
            $.ajax({
                url: '@Url.Action("_AddRowsNext","Productos")',
                method: 'POST',
                datatype: 'text',
                data: {
                    searchby: searchBy,
                    skip: skip
                },
                success: function (r) {
                    if (inicio) { $('#dRows').empty(); }
                    if (r !== null && r.trim() !== '') {
                        $('#dRows').append(r);
                        $('[data-toggle="tooltip"]').tooltip();
                    } else {
                        $('#dRows').attr('data-rows-next', "0");
                    }
                    $('#dRows').attr('data-charging', "0");
                    removeProcessWithSpinner();
                },
                error: function (r) {
                    $('#dRows').attr('data-charging', "0");
                    removeProcessWithSpinner();
                },
                cache: false
            });
        }

        function search(e) {
            if (e.keyCode === 13 || e.which === 1) {
                skip = 0;
                $('#dRows').attr('data-rows-next', "1");
                addRowsNext(skip, true);
            }
        }
    </script>
}
