@model IEnumerable<LAMBusiness.Shared.Catalogo.Estado>

@{
    ViewData["Title"] = "Estados";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Estados</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Catálogo</li>
                <li class="breadcrumb-item">Estados</li>
                <li class="breadcrumb-item active">@Model.Count() Registro(s)</li>
            </ul>
        </div>
        <a asp-action="Catalogo" asp-controller="Menu" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body py-4">
        <div class="row">
            <div class="col-9 col-md-8 pr-0 pr-md-3">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" placeholder="Buscar...">
                    <div class="input-group-append">
                        <button class="btn btn-light border" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-4 text-right">
                <p><a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i><span class="d-none d-md-inline-block ml-2">Nuevo Registro</span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="border-bottom col-12 font-weight-bold px-3 py-2 text-uppercase">
                @Html.DisplayNameFor(model => model.EstadoDescripcion)
            </div>
            @foreach (var item in Model.Take(50))
            {
                <div class="border-bottom col-7 col-md-9 px-3 py-2 text-truncate">
                    @Html.DisplayFor(modelItem => item.EstadoDescripcion)
                </div>
                <div class="border-bottom col-5 col-md-3 px-3 py-2 text-right">
                    <a asp-action="Edit" asp-route-id="@item.EstadoID" class="btn-icon rounded-circle"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.EstadoID" class="btn-icon rounded-circle"><i class="fa fa-file-alt"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.EstadoID" class="btn-icon rounded-circle"><i class="fa fa-trash"></i></a>
                </div>
            }
        </div>
    </div>
</div>