@model IEnumerable<LAMBusiness.Shared.Catalogo.Estado>

@{
    ViewData["Title"] = "Estados";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Estados</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item"><a asp-action="Catalogo" asp-controller="Menu">Catálogos</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Estados">Estados</a></li>
                <li class="breadcrumb-item active text-base">@Model.Count() Registro(s)</li>
            </ul>
        </div>
        <a asp-action="Catalogo" asp-controller="Menu" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body pt-4">
        <div class="row px-md-3">
            <div class="col-9 col-md-8 pr-0 pr-md-3">
                <div class="input-group mb-3">
                    <input type="search" id="SearchInput" class="form-control" placeholder="Buscar..." onkeypress="search(event);">
                    <div class="input-group-append">
                        <button class="btn btn-light border" type="button" onclick="search(event);"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row px-md-3 font-weight-bold text-uppercase">
                <div class="border-bottom col-12 px-3 py-2">
                    @Html.DisplayNameFor(model => model.EstadoDescripcion)
                </div>
            </div>
            <div class="px-md-3" id="dRows" data-charging="0" data-rows-next="1">
                @foreach (var item in Model.Take(50))
                {
                    <div class="row bg-row">
                        <div class="border-bottom col-9 px-3 py-2 text-truncate">
                            <span class="text-dark">@Html.DisplayFor(modelItem => item.EstadoDescripcion)</span>
                            <div class="d-block">
                                <small class="d-block d-md-inline-block text-muted mr-md-2">Clave: @Html.DisplayFor(modelItem => item.EstadoClave)</small>
                                <small class="d-block d-md-inline-block text-muted">Municipios: @Html.DisplayFor(modelItem => item.Municipios.Count)</small>
                            </div>
                        </div>
                        <div class="border-bottom col-3 px-3 py-2 text-right">
                            @if (Convert.ToBoolean(ViewBag.PermisoEscritura))
                            {
                                <a asp-action="Edit" asp-route-id="@item.EstadoID" class="text-decoration-none">
                                    <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar registro">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var skip = 0;

        $(document).ready(function () {
            $(window).on("scroll", function () {
                if ($('#dRows')[0] !== this.undefined &&
                    $('#dRows').attr('data-rows-next') === "1" &&
                    $('#dRows').attr('data-charging') === "0" &&
                    $('#dRows > div').length % 50 === 0)
                {
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 50;
                        addRowsNext(skip);
                    }
                }
            });
            $('#BuscarInput').focus();
        });

        function addRowsNext(skip, inicio = false) {
            addProcessWithSpinner('Cargando Estados...');
            $('#dRows').attr('data-charging', "1");
            var searchBy = $('#SearchInput')[0] === undefined ? "" : $('#SearchInput').val();
            $.ajax({
                url: '@Url.Action("_AddRowsNext","Estados")',
                method: 'POST',
                datatype: 'text',
                data: {
                    searchby: searchBy,
                    skip: skip
                },
                success: function (r) {
                    if (inicio) { $('#dRows').empty(); }
                    if (r !== null && r.trim() !== '') {
                        $('#dRows').append(r);
                        $('[data-toggle="tooltip"]').tooltip();
                    } else {
                        $('#dRows').attr('data-rows-next', "0");
                    }
                    $('#dRows').attr('data-charging', "0");
                    removeProcessWithSpinner();
                },
                error: function (r) {
                    $('#dRows').attr('data-charging', "0");
                    removeProcessWithSpinner();
                },
                cache: false
            });
        }

        function search(e) {
            if (e.keyCode === 13 || e.which === 1) {
                skip = 0;
                $('#dRows').attr('data-rows-next', "1");
                addRowsNext(skip, true);
            }
        }
    </script>
}
