@model IEnumerable<LAMBusiness.Shared.Catalogo.Marca>

@if (Model.Any())
{
    <div>
        <ul class="list-group">
            @foreach (var item in Model.OrderBy(p => p.Nombre))
            {
                <li class="list-group-item list-group-item-action"
                    data-id="@item.MarcaID"
                    data-search="@item.Nombre"
                    data-nombre="@item.Descripcion"
                    onclick="addMarca(event);">
                    <span class="d-block">@item.Nombre</span>
                    <small class="text-muted">@item.Descripcion</small>
                </li>
            }
        </ul>
    </div>
}