@model LAMBusiness.Shared.Aplicacion.Filtro<List<LAMBusiness.Shared.Catalogo.Producto>>

@if (Model != null)
{
    <div>
        <ul class="list-group">
            @if (Model.Skip == 0)
            {
                <li class="list-group-item list-group-item-light">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Productos</span>
                        <span>@Model.Registros reg.</span>
                    </div>
                </li>
            }
            @foreach (var item in Model.Datos)
            {
                <li class="list-group-item list-group-item-action product"
                    data-id="@item.ProductoID"
                    data-search="@item.Codigo"
                    data-nombre="@item.Nombre"
                    onclick="addProduct(event);">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="d-block">@item.Nombre</span>
                            <small class="text-muted">@item.Codigo</small>
                        </div>
                        @if (Convert.ToBoolean(ViewBag.MostrarPrecioVenta))
                        {
                            <div class="fw-bold">@Convert.ToDecimal(item.PrecioVenta).ToString("$#,###,##0.00")</div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
}