<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAMBusiness.Web</title>
    <meta name="description" content="Software punto de venta">
    <meta name="keywords" content="Business, Negocios, Punto de venta, Ventas, Compras, Pedidos, Clientes, Proveedores">
    <meta name="author" content="Ing. Luis Martínez">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LAMBusiness">
    <meta property="og:description" content="software punto de venta">
    <meta property="og:url" content="http://www.lambusiness.com/">
    <meta property="og:site_name" content="LAMBusiness">
    <meta property="og:image" content="http://www.lambusiness.com/Imagen/icono.png">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/helper.css" rel="stylesheet" />
    <link href="~/css/fontAwesome.css" rel="stylesheet" />
</head>
<body>
    @{
        string menu = "";
        if (TempData.ContainsKey("menu") == true)
        {
            menu = TempData["menu"].ToString().ToLower();
        }
    }
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-base" asp-area="" asp-controller="Home" asp-action="Index">LAMBusiness</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @await Html.PartialAsync("_Menu.cshtml", ViewData["token"])
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @*<li class="nav-item">
                                <a class="nav-link"
                                   href="javascript:void(0);"
                                   onClick="toggleFullScreen();">
                                    <div class="btn-icon rounded-circle d-inline-block">
                                        <i class="fa fa-expand-arrows-alt"></i>
                                    </div>
                                    <span class="d-md-none ms-2">Notificaciones</span>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link @if (menu == "notificaciones") {<text>fw-bold text-base</text>} else {<text>text-dark</text>} "
                               asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-bell"></i>
                                </div>
                                <span class="d-md-none ms-2">Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="" asp-controller="Menu" asp-action="Sesion">
                                <div class="d-inline-block">
                                    <img src="@Url.Action("GetProfilePicture", "Sesion", new { id = ViewBag.Id, tipo = "profile" })" class="rounded-circle" style="width:2.5rem;" alt="Image Profile" />
                                </div>
                                <span class="d-md-none ms-2">Sesión de Usuario</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white border-top footer text-muted">
        <div class="container">
            LAMBusiness &copy; 2020 - <span class="text-base">Punto de Venta</span>
        </div>
    </footer>

    <!--loader-->
    <div id="loader" class="d-none">
        <input type="text" id="inputDisabled" class="d-none" />
    </div>

    <!--place the cursor at the top of the screen-->
    <button id="UpButton" onclick="positionTopScreen(event);"><i class="fas fa-arrow-alt-circle-up"></i></button>

    <!-- Flexbox container for aligning the toasts -->
    <div aria-live="polite" aria-atomic="true" class="">
        <div class="toast-container position-absolute end-0 p-3" style="top:4rem;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true">
                <div class="toast-header btn-base">
                    <strong class="me-auto">LAMBusiness</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <div id="toastMessage">
                        @TempData["toast"]
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            //var elem = document.body; // Make the body go full screen.
            /*requestFullScreen(elem);*/
            if ('@TempData.ContainsKey("toast")' === 'True') {
                $('.toast').toast("show");
            }
            $(window).scroll(function () {
                if (screen.width > 425) {
                    if ($(this).scrollTop() < 300) {
                        $('#UpButton').fadeOut();
                    } else {
                        $('#UpButton').fadeIn();
                    }
                }
            });
        });
    </script>
</body>
</html>
