<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAMBusiness.Web</title>
    <meta name="description" content="Software punto de venta">
    <meta name="keywords" content="Business, Negocios, Punto de venta, Ventas, Compras, Pedidos, Clientes, Proveedores">
    <meta name="author" content="Ing. Luis Martínez">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LAMBusiness">
    <meta property="og:description" content="software punto de venta">
    <meta property="og:url" content="http://www.lambusiness.com/">
    <meta property="og:site_name" content="LAMBusiness">
    <meta property="og:image" content="http://www.lambusiness.com/Imagen/icono.png">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/helper.css" rel="stylesheet" />
    <link href="~/css/fontAwesome.css" rel="stylesheet" />
</head>
<body>
    @{
        string menu = "";
        if (TempData.ContainsKey("Home") == true)
        {
            menu = TempData["Home"].ToString().ToLower();
        }
    }
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-base d-block d-md-none d-lg-block" asp-area="" asp-controller="Home" asp-action="Index">LAMBusiness</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="padding:0.35rem;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @await Html.PartialAsync("_Menu.cshtml", ViewData["token"])
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @*<li class="nav-item">
                        <a class="nav-link"
                        href="javascript:void(0);"
                        onClick="toggleFullScreen();">
                        <div class="btn-icon rounded-circle d-inline-block">
                        <i class="fa fa-expand-arrows-alt"></i>
                        </div>
                        <span class="d-md-none ms-2">Expandir Pantalla</span>
                        </a>
                        </li>*@
                        <li class="nav-item">
                            <a id="LAMNotificationText" class="nav-link @if (menu == "notificaciones") {
                            <text>fw-bold text-base</text>
} else {
                            <text>text-dark</text>
} "
                               asp-area="" asp-controller="Home" asp-action="Index">
                                <div id="LAMNotificationIcon" class="btn-icon rounded-circle d-inline-block">
                                    <i class="fa fa-bell"></i>
                                </div>
                                <span class="d-md-none ms-2">Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-area="" asp-controller="Home" asp-action="Sesion">
                                <div class="d-inline-block">
                                    <img src="@Url.Action("GetProfilePicture", "Sesion", new { id = ViewBag.Id, tipo = "profile" })" class="rounded-circle" style="width:2.5rem;" alt="Image Profile" />
                                </div>
                                <span class="d-md-none ms-2">Sesión de Usuario</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white border-top footer text-muted">
        <div class="container">
            LAMBusiness &copy; 2020 - <span class="text-base">Punto de Venta</span>
        </div>
    </footer>

    <!--loader-->
    <div id="loader" class="d-none">
        <input type="text" id="inputDisabled" class="d-none" />
    </div>

    <!--place the cursor at the top of the screen-->
    <button id="UpButton" onclick="positionTopScreen(event);"><i class="fas fa-arrow-alt-circle-up"></i></button>

    <!-- Flexbox container for aligning the toasts -->
    <partial name="_Toast" />

    <!-- Modal Help -->
    <partial name="_Help" />

    <!-- Audio Notification -->
    <audio id="audioNotification" controls="controls" class="d-none">
        <source src="~/audio/Notification.mp3" type="audio/mpeg" />
    </audio>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/hub.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        var skip = 0;
        var itemToDelete;
        // var filter;

        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            //var elem = document.body; // Make the body go full screen.
            /*requestFullScreen(elem);*/
            if ('@TempData.ContainsKey("toast")' === 'True') {
                $('.toast').toast("show");
            }
            $(window).scroll(function () {
                if (screen.width > 425) {
                    if ($(this).scrollTop() < 300) {
                        $('#UpButton').fadeOut();
                    } else {
                        $('#UpButton').fadeIn();
                    }
                }
                if ($('#dRows')[0] !== this.undefined &&
                    $('#dRows').attr('data-rows-next') === "1" &&
                    $('#dRows').attr('data-charging') === "0" &&
                    $('#dRows .bg-row').length % 50 === 0) {
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 100;
                        addRowsNext(skip);
                    }
                }
                if ($('#dRowCorteDeCaja')[0] !== this.undefined &&
                    $('#dRowCorteDeCaja').attr('data-rows-next') === "1" &&
                    $('#dRowCorteDeCaja').attr('data-charging') === "0" &&
                    $('#dRowCorteDeCaja .bg-row').length % 50 === 0) {
                        let todos = dRowCorteDeCaja.getAttribute('data-cortesdecaja');
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 100;
                        addRowsNextCortesDeCaja(skip, todos);
                    }
                }
                if ($('#dRowRetiro')[0] !== this.undefined &&
                    $('#dRowRetiro').attr('data-rows-next') === "1" &&
                    $('#dRowRetiro').attr('data-charging') === "0" &&
                    $('#dRowRetiro .bg-row').length % 50 === 0) {
                        let todos = dRowRetiro.getAttribute('data-retiros');
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 100;
                        addRowsNextRetiros(skip, todos);
                    }
                }
                if ($('#dRowVenta')[0] !== this.undefined &&
                    $('#dRowVenta').attr('data-rows-next') === "1" &&
                    $('#dRowVenta').attr('data-charging') === "0" &&
                    $('#dRowVenta .bg-row').length % 50 === 0) {
                        let todos = dRowVenta.getAttribute('data-ventas');
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 100;
                        addRowsNextVentas(skip, todos);
                    }
                }
                if ($('#dRowsListBox')[0] !== this.undefined &&
                    $('#dRowsListBox').attr('data-rows-next') === "1" &&
                    $('#dRowsListBox').attr('data-charging') === "0" &&
                    $('#dRowsListBox .bg-row').length % 50 === 0) {
                    var scrollHeight = $(document).height();
                    var scrollPosition = $(window).height() + $(window).scrollTop();
                    var result = (scrollHeight - scrollPosition) / scrollHeight;
                    if (result <= 0.0005) {
                        skip += 100;
                        addRowsNextListBox(skip);
                    }
                }
            });

            if ($('#BuscarInput')[0] !== undefined) {
                $('#BuscarInput').focus();
            }

            $('.deleteConfirm').click((e) => {
                itemToDelete = e.currentTarget.dataset.id;
            });
        });

        function addRowsNext(skip, inicio = false) {
            if (skip === 0) {
                addProcess('Cargando datos, por favor espere...');
            } else {
                addProcessWithSpinner('Cargando datos, por favor espere...');
            }
            var controller = $('[data-module]')[0].dataset.module;
            var url = '@Url.Action("_AddRowsNext", "controlador")';
            url = url.replace('controlador', controller);

            $('#dRows').attr('data-charging', "1");
            var searchBy = $('#SearchInput')[0] === undefined ? "" : $('#SearchInput').val();
             let tipoDeMovimiento = document.getElementById('TipoDeMovimiento');
            let tm = 0;
            if(typeof tipoDeMovimiento !== 'undefined'){
                tm = parseInt(tipoDeMovimiento.value);
            }

            $.ajax({
                url: url,
                method: 'POST',
                datatype: 'text',
                data: {
                    filtro: {
                        Patron: searchBy,
                        Skip: skip,
                        TipoDeMovimiento: tm
                    }
                },
                success: function (r) {
                    if (inicio) { $('#dRows').empty(); }
                    if (r !== null && r.trim() !== '') {
                        $('#dRows').append(r);
                        $('[data-bs-toggle="tooltip"]').tooltip();
                    } else {
                        $('#dRows').attr('data-rows-next', "0");
                    }
                    $('#dRows').attr('data-charging', "0");
                    if (skip === 0) {
                        removeProcess();
                    } else {
                        removeProcessWithSpinner();
                    }
                    if (typeof $('.deleteConfirm') !== 'undefined') {
                        $('.deleteConfirm').click((e) => {
                            itemToDelete = e.currentTarget.dataset.id;
                        });
                    }
                },
                error: function (r) {
                    $('#dRows').attr('data-charging', "0");
                    if (skip === 0) {
                        removeProcess();
                    } else {
                        removeProcessWithSpinner();
                    }
                },
                cache: false
            });
        }
        function deleteYesButton(e) {
            var controller = $('[data-module]')[0].dataset.module;
            var url = '@Url.Action("Delete", "controlador", new { id = "paramId" })';
            url = url.replace('controlador', controller);
            url = url.replace('paramId', itemToDelete);

            window.location.href = url;
        }
        function help(view, e) {
            e.preventDefault();
            var url = "@Url.Action("view", "Help")";
            url = url.replace("view", view);
            addProcessWithSpinner('Cargando ayuda');
            $.ajax({
                url: url,
                method: 'POST',
                datatype: 'text',
                data: {
                    view: view
                },
                success: function (r) {
                    if (r !== null && r.trim() !== '') {
                        $('#ModalHelp .modal-body').empty();
                        $('#ModalHelp .modal-body').append(r);
                        var modalHelp = new bootstrap.Modal(document.getElementById('ModalHelp'), {
                            keyboard: false
                        })
                        removeProcessWithSpinner();
                        modalHelp.show();
                    } else {
                        removeProcessWithSpinner();
                        alert('No existe módulo de ayuda');
                    }
                },
                error: function (r) {
                    removeProcessWithSpinner();
                    alert('No existe módulo de ayuda');
                },
                cache: false
            });
        }
        function search(e) {
            if (e.keyCode === 13 || e.which === 1) {
                buscarRegistros();
            }
        }
        function buscarRegistros(){
            skip = 0;
            $('#dRows').attr('data-rows-next', "1");
            var searchBy = $('#SearchInput')[0] === undefined ? "" : $('#SearchInput').val();
           
            filter = {
                Patron: searchBy,
                Skip: skip
            };
            //filter = {
            //    Patron: searchBy,
            //    Skip: skip,
            //    ...filter2
            //};
            addRowsNext(skip, true);
        }
    </script>
</body>
</html>
