@model IEnumerable<LAMBusiness.Shared.Catalogo.TasaImpuesto>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="row bg-row">
            <div class="border-bottom col-8 px-3 py-2">
                <span class="text-dark">@Html.DisplayFor(modelItem => item.Tasa)</span>
                <div class="d-block">
                    <small class="d-block d-md-inline-block text-muted mr-md-2">Porcentaje: @Html.DisplayFor(modelItem => item.Porcentaje)%</small>
                    <small class="d-block d-md-inline-block text-muted">Productos asignados: @Html.DisplayFor(modelItem => item.Productos.Count)</small>
                </div>
                <small class="d-block text-muted">@Html.DisplayFor(modelItem => item.TasaDescripcion)</small>
            </div>
            <div class="border-bottom col-4 px-3 py-2 text-right">
                <a asp-action="Edit" asp-route-id="@item.TasaID" class="text-decoration-none">
                    <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar registro">
                        <i class="fa fa-edit"></i>
                    </div>
                </a>
                <a href="#" data-id="@item.TasaID" class="deleteConfirm text-decoration-none" data-toggle="modal" data-target="#deleteConfirm">
                    <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="eliminar registro">
                        <i class="fa fa-trash"></i>
                    </div>
                </a>
            </div>
        </div>
    }
}
