@model LAMBusiness.Web.Models.ViewModels.VentasNoAplicadasViewModel

@{
    Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    ViewData["Title"] = "LAMBusiness";
}

<div class="row g-0">
    <div>
        <input type="hidden" asp-for="VentaNoAplicadaID" />
    </div>
    <div class="col-12 col-md-8">
        <div class="flex-container">
            <section class="position-relative">
                <div id="datos" class="p-4 bg-light bg-absolute overflow-auto">
                    <div class="list-group list-group-flush text-dark mb-2">
                        @if (Model.VentasNoAplicadasDetalle != null)
                        {
                            foreach (var item in Model.VentasNoAplicadasDetalle)
                            {
                                string textDanger = "";
                                string textDecoration = "";
                                if (item.Cantidad < 0)
                                {
                                    textDanger = "text-danger";
                                    textDecoration = "text-decoration-line-through";
                                }
                                <div class="bg-white list-group-item list-group-item-action">
                                    <div class="row align-items-center p-3 g-0">
                                        <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="me-3">
                                                    <img class="rounded-circle" style="width:2rem;" src="@Url.Action("GetProductImages", "Productos", new { productoId = item.ProductoID, imageId = item.ProductoID, tipo = "sm" })" alt="Image Product" />
                                                </div>
                                                <div>
                                                    <h5 class="fw-bold d-block @textDanger @textDecoration">@item.Productos.ProductoNombre</h5>
                                                    <a href="#" class="d-block small" onclick="getProduct('@item.ProductoID');">@item.Productos.Codigo</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-2 text-lg-end">
                                            <span class="d-block d-lg-none text-muted">Cantidad x Precio</span>
                                            <span class="d-block">@Convert.ToDecimal(item.Cantidad).ToString("#,###,##0.0000")</span>
                                            <small class="d-block">x @Convert.ToDecimal(item.PrecioVenta).ToString("$#,###,##0.00")</small>
                                        </div>
                                        <div class="col-6 col-lg-2 text-end">
                                            <span class="d-block d-lg-none text-muted">Importe</span>
                                            @{
                                                decimal importe = @Convert.ToDecimal(item.Cantidad * item.PrecioVenta);
                                            }
                                            <h5 class="fw-bold d-block saleAmount @textDanger @textDecoration"
                                                data-importe="@importe">
                                                @importe.ToString("$#,###,##0.00")
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
            <div id="footer" class="bg-light position-relative border-top">
                <div class="bg-base p-2 text-end d-block d-md-none">
                    <div class="row g-0 align-items-center">
                        <div class="col-6 text-start">
                            <a href="#" onclick="saleMode();">
                                <div class="btn-icon px-2 py-1 rounded-circle d-inline-block">
                                    <i class="fa fa-barcode text-white"></i>
                                </div>
                            </a>
                            <a href="#" onclick="payMode();">
                                <div class="btn-icon px-2 py-1 rounded-circle d-inline-block">
                                    <i class="fa fa-dollar-sign text-white"></i>
                                </div>
                            </a>
                            <a href="#" onclick="searchMode();">
                                <div class="btn-icon px-2 py-1 rounded-circle d-inline-block">
                                    <i class="fa fa-search text-white"></i>
                                </div>
                            </a>
                            <a href="#" onclick="cancelSaleMode();">
                                <div class="btn-icon px-2 py-1 rounded-circle d-inline-block">
                                    <i class="fab fa-creative-commons-nc text-white"></i>
                                </div>
                            </a>
                            <a href="#" onclick="getItBackSaleMode();">
                                <div class="btn-icon px-2 py-1 rounded-circle d-inline-block">
                                    <i class="fas fa-undo text-white"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 text-end">
                            <h4 id="total-sm" class="fw-bold text-white">Total @Model.ImporteTotal.ToString("$###,###,##0.00")</h4>
                        </div>
                    </div>
                </div>
                <div class="p-4 position-relative">
                    <div class="position-absolute" style="top:0.2rem;left:4rem;">
                        <label id="messageLabel" class="ms-4 text-danger" style="display:none;"></label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="inputText"
                               class="p-2"
                               style="font-size:2rem;">
                            <i id="icon" class="fa fa-barcode"></i>
                        </label>
                        <div class="w-100 mx-2">
                            <input id="inputText"
                                   type="text"
                                   data-input="codigo"
                                   class="rounded-pill px-4 py-2 border w-100"
                                   style="outline:none;font-size:1.4rem;"
                                   placeholder="Código del producto."
                                   autofocus />
                        </div>
                        <a href="#"
                           onclick="setInputText(event);">
                            <div class="btn-icon rounded-circle d-inline-block">
                                <i class="fa fa-check"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 d-none d-md-block">
        <div class="flex-container">
            <section class="position-relative">
                <div class="row g-0 bg-absolute text-center p-4 overflow-auto">
                    <div class="col-12 col-lg-6 col-xl-4 mb-2">
                        <a href="#" onclick="saleMode();" class="text-secondary">
                            <div id="saleButton" class="bg-base bg-card border box-shadow-lam mx-2 rounded-lam-lg selected">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-barcode"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">VENDER</span>
                                        <span class="fw-light d-block">[ESC]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-2">
                        <a href="#" onclick="payMode();" class="text-secondary">
                            <div id="payButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-dollar-sign"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">COBRAR</span>
                                        <span class="fw-light d-block">[F5]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-2">
                        <a href="#" onclick="searchMode();" class="text-secondary">
                            <div id="searchButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-search"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">BUSCAR</span>
                                        <span class="fw-light d-block">[F1]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-2">
                        <a href="#" onclick="cancelSaleMode();" class="text-secondary">
                            <div id="cancelSaleButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fab fa-creative-commons-nc"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">CANCELAR</span>
                                        <span class="fw-light d-block">[F3]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-2">
                        <a href="#" onclick="getItBackSaleMode();" class="text-secondary">
                            <div id="getItBackSaleButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-undo"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">RECUPERAR</span>
                                        <span class="fw-light d-block">[F4]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-0 bg-absolute text-center p-4 overflow-auto d-none">
                    <div class="col-12 col-lg-6 mb-2">
                        <a href="#" onclick="withdrawCashMode(event);" class="text-secondary">
                            <div id="withdrawCashButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-cash-register"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">Retirar Efectivo</span>
                                        <span class="fw-light d-block">[F7]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-2">
                        <a href="#" onclick="closeSalesMode();" class="text-secondary">
                            <div id="closeSalesButton" class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                                <div class="py-3 px-2 mb-3">
                                    <div class="text-center my-2">
                                        <h3 class="fas fa-file-invoice-dollar"></h3>
                                    </div>
                                    <div class="text-center">
                                        <span class="fw-bold">Corte de Caja</span>
                                        <span class="fw-light d-block">[F8]</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="bg-light position-relative border-top border-start">
                <div class="p-4 position-relative text-center">
                    <h1 id="total" class="fw-bold text-dark mt-2">@Model.ImporteTotal.ToString("$###,###,##0.00")</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

@section Scripts{
    <script>
        let urlCancelSale = '@Url.Action("SetCancelSale", "Ventas")';
        let urlGetItBackSale = '@Url.Action("GetItBackSale", "Ventas")';
        let urlMovement = '@Url.Action("Movimiento", "Menu")';
        let urlProductByCode = '@Url.Action("GetProductByCode", "Ventas")';
        let urlProductDetail = '@Url.Action("GetProductDetail", "Productos")';
        let urlProductDetailByCode = '@Url.Action("GetProductDetailByCode", "Productos")';
        let urlProductList = '@Url.Action("GetProductList", "Productos")';
        let urlSale = '@Url.Action("Index", "Ventas")';
        let urlSaveSale = '@Url.Action("SetSaveSale", "Ventas")';
        let urlSetSale = '@Url.Action("SetSale", "Ventas")';
    </script>
    <script src="~/js/sales.js"></script>
}