@model LAMBusiness.Shared.Aplicacion.Token

@{
    ViewData["Title"] = "Inicio";
}

<div class="modal-body py-4">
    <div class="card mb-4 text-dark rounded-lam-lg">
        <div class="card-body py-5">
            <div class="row align-items-center">
                <div class="col-2 text-center">
                    <img src="@Url.Action("GetProfilePicture", "Sesion", new { id = ViewBag.Id, tipo = "median" })" class="rounded-circle" style="width:7rem;" />
                </div>
                <div class="col text-left">
                    <h2 class="m-0">
                        ¡Hola,
                        <span class="text-capitalize">
                            @Model.Nombre.ToLower()
                            @Model.PrimerApellido.ToLower()
                        </span>!
                    </h2>
                    <p class="text-muted ml-2">
                        Tienes 2 mensajes sin leer...
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="text-right px-4">
        <button class="btn btn-light active border rounded-pill">Estadísticas</button>
        <button class="btn btn-light border rounded-pill">Compañeros</button>
    </div>*@
    <div class="">
        <div class="row no-gutters">
            <div class="col-3">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="font-weight-bold text-dark">Entradas</div>
                    <div class="text-center my-4">
                        <h1 class="text-primary">27</h1>
                        <small class="text-muted">Agosto 2021</small>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="font-weight-bold text-dark">Salidas</div>
                    <div class="text-center my-4">
                        <h1 class="text-danger">22</h1>
                        <small class="text-muted">Agosto 2021</small>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="font-weight-bold text-dark">Ventas</div>
                    <div class="text-center my-4">
                        <h1 class="text-sucess">17</h1>
                        <small class="text-muted">Agosto 2021</small>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="font-weight-bold text-dark">Devoluciones</div>
                    <div class="text-center my-4">
                        <h1 class="text-warning">12</h1>
                        <small class="text-muted">Agosto 2021</small>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3">
                <div class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                    <div class="py-3 px-2 mb-3">
                        <div class="text-center my-4">
                            <img class="rounded-circle" style="width:7rem;" src="@Url.Action("GetProfilePicture", "Sesion", new { id = Guid.Parse("ac9b54e6-293d-4802-bb8e-1d5f329d0a5b"), tipo = "median" })" />
                        </div>
                        <div class="text-center">
                            <span class="font-weight-bold">Alejandra Martínez</span>
                            <span class="font-weight-light text-muted">Administradora</span>
                        </div>
                    </div>
                    <div class="row row-bordered no-gutters text-center border-top">
                        <div class="col-6"><a class="d-block text-muted px-2 py-3" href="mailto:luismg78@gmail.com"><i class="fa fa-envelope mr-3"></i>Email</a></div>
                        <div class="col-6"><a class="d-block text-muted px-2 py-3" href="tel:9611774769">Llamar<i class="fa fa-phone ml-3"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                    <div class="py-3 px-2 mb-3">
                        <div class="text-center my-4">
                            <img class="rounded-circle" style="width:7rem;" src="@Url.Action("GetProfilePicture", "Sesion", new { id = Guid.Parse("7E102AAE-6F87-49DF-A886-CBBB15437671"), tipo = "median" })" />
                        </div>
                        <div class="text-center">
                            <span class="font-weight-bold">Alejandra Martínez</span>
                            <span class="font-weight-light text-muted">Administradora</span>
                        </div>
                    </div>
                    <div class="row row-bordered no-gutters text-center border-top">
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="mailto:luismg78@gmail.com"><i class="fa fa-envelope mr-3"></i>Email</a></div>
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="tel:9611774769">Llamar<i class="fa fa-phone ml-3"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                    <div class="py-3 px-2 mb-3">
                        <div class="text-center my-4">
                            <img class="rounded-circle" style="width:7rem;" src="@Url.Action("GetProfilePicture", "Sesion", new { id = Guid.Parse("ac9b54e6-293d-4802-bb8e-1d5f329d0a5b"), tipo = "median" })" />
                        </div>
                        <div class="text-center">
                            <span class="font-weight-bold">Alejandra Martínez</span>
                            <span class="font-weight-light text-muted">Administradora</span>
                        </div>
                    </div>
                    <div class="row row-bordered no-gutters text-center border-top">
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="mailto:luismg78@gmail.com"><i class="fa fa-envelope mr-3"></i>Email</a></div>
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="tel:9611774769">Llamar<i class="fa fa-phone ml-3"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white bg-card border box-shadow-lam mx-2 rounded-lam-lg">
                    <div class="py-3 px-2 mb-3">
                        <div class="text-center my-4">
                            <img class="rounded-circle" style="width:7rem;" src="@Url.Action("GetProfilePicture", "Sesion", new { id = Guid.Parse("7E102AAE-6F87-49DF-A886-CBBB15437671"), tipo = "median" })" />
                        </div>
                        <div class="text-center">
                            <span class="font-weight-bold">Alejandra Martínez</span>
                            <span class="font-weight-light text-muted">Administradora</span>
                        </div>
                    </div>
                    <div class="row row-bordered no-gutters text-center border-top">
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="mailto:luismg78@gmail.com"><i class="fa fa-envelope mr-3"></i>Email</a></div>
                        <div class="col-6"><a class="d-block px-2 py-3 text-muted" href="tel:9611774769">Llamar<i class="fa fa-phone ml-3"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
