@model LAMBusiness.Web.Models.ViewModels.EntradaViewModel

@{
    ViewData["Title"] = "Entradas";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Entradas</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item">Movimientos</li>
                <li class="breadcrumb-item">Entradas</li>
                <li class="breadcrumb-item active">Detalle</li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Entradas" class="close"><span>&times;</span></a>
    </div>
    <div class="modal-body py-4">
        <div class="row px-md-3">
            <!--Información de la entrada-->
            <div class="card-lam-d1 col-12">
                <div class="card-header-lam-d1">
                    <div class="col-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-8">
                                <p class="font-weight-bold m-0 pt-2 pt-md-0 title">@Html.DisplayFor(model => model.Proveedores.Nombre)</p>
                                <span class="d-block subtitle text-muted">@Html.DisplayFor(model => model.Proveedores.RFC)</span>
                                <span class="d-block subtitle text-muted mb-2">
                                    @Html.DisplayFor(model => model.Proveedores.Domicilio),
                                    @Html.DisplayFor(model => model.Proveedores.Colonia),
                                    @Html.DisplayFor(model => model.Proveedores.CodigoPostal),
                                    @Html.DisplayFor(model => model.Proveedores.Municipios.MunicipioDescripcion),
                                    @Html.DisplayFor(model => model.Proveedores.Municipios.Estados.EstadoDescripcion)
                                </span>
                            </div>
                            <div class="col-12 col-md-4 text-md-right">
                                <h5 class="d-block subtitle text-muted mb-0">Folio <span class="text-base">@Html.DisplayFor(model => model.Folio)</span></h5>
                                <span class="d-block subtitle text-muted mb-3">@Convert.ToDateTime(Model.Fecha).ToString("dd MMMM, yyyy")</span>
                            </div>
                            <div class="col-12">
                                @if (!Model.Aplicado)
                                {
                                    <a asp-action="Edit" asp-route-id="@Model.EntradaID" class="badge badge-base px-3 py-2">Editar</a>
                                }
                                <a asp-action="Index" class="badge badge-light border px-3 py-2">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body-lam-d1 mt-2">
                    <div class="row no-gutters row-bordered border">
                        <div class="bg-row d-flex col-md-6 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-calendar display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.FechaCreacion)</div>
                                    <h6>@Model.FechaCreacion.ToString("dd MMMM, yyyy")</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-6 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-calendar display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.FechaActualizacion)</div>
                                    <h6>@Model.FechaActualizacion.ToString("dd MMMM, yyyy")</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-12 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                @if (Model.Aplicado)
                                {
                                    <i class="fas fa-user-check display-4 text-secondary"></i>
                                    <div class="ml-3">
                                        <div class="text-muted small line-height-1">Responsable Aplicar Movimiento</div>
                                        <h6>Nombre del responsable</h6>
                                    </div>
                                }
                                else
                                {
                                    <i class="fas fa-user-edit display-4 text-secondary"></i>
                                    <div class="ml-3">
                                        <div class="text-muted small line-height-1">Responsable Última Actualización</div>
                                        <h6>Nombre del responsable</h6>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-12 col-lg-8 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-eye display-4 text-secondary"></i>
                                <div class="ml-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Observaciones)</div>
                                    <h6>@Html.DisplayFor(model => model.Observaciones)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-md-12 col-lg-4 align-items-center">
                            <div class="card-body d-flex align-items-center">
                                @if (Model.Aplicado)
                                {
                                    <i class="fas fa-clipboard-check display-4 text-danger"></i>
                                    <div class="ml-3">
                                        <div class="text-muted small line-height-1">Aplicado</div>
                                        <h6 class="text-danger">No se permiten cambios</h6>
                                    </div>
                                }
                                else
                                {
                                    <i class="fas fa-file-alt display-4 text-success"></i>
                                    <div class="ml-4">
                                        <div class="text-muted small line-height-1">No Aplicado</div>
                                        <h6 class="text-success">Se permiten cambios</h6>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="my-4">
                    @if (!Model.Aplicado)
                    {
                        <a asp-action="AddDetalle" asp-controller="Entradas" asp-route-id="@Model.EntradaID" class="badge badge-info p-2 float-right"><i class="fas fa-plus"></i> Ingresar Detalle</a>
                    }
                    @if (Model.EntradaDetalle.Count > 0)
                    {
                        <p class="font-weight-bold text-base">Detalle</p>
                        <hr class="mb-0" />
                        <div class="row no-gutters py-1 d-none d-md-flex border-bottom">
                            <div class="@if (Model.Aplicado) {<text>col-md-8</text>} else {<text>col-md-6</text>}">
                               <span class="font-weight-bold d-block">Producto</span>
                            </div>
                            <div class="col-md-2 text-md-right">
                                <span class="font-weight-bold d-block">Cantidad x Precio</span>
                            </div>
                            <div class="col-md-2 text-md-right">
                                <span class="font-weight-bold d-block">Importe</span>
                            </div>
                            @if (!Model.Aplicado)
                            {
                                <div class="col-md-2"></div>
                            }
                        </div>
                        foreach (var item in Model.EntradaDetalle)
                        {
                            <div class="bg-row row align-items-center border-bottom py-2 px-2 no-gutters">
                                <div class="col-12 @if(Model.Aplicado) {<text>col-md-8</text>} else {<text>col-md-6</text>}">
                                    <span class="font-weight-bold d-block d-md-none">Producto</span>
                                    <span class="d-block">@item.Productos.ProductoNombre</span>
                                    <small class="d-block">@item.Productos.Codigo</small>
                                </div>
                                <div class="col-12 col-md-2 text-md-right">
                                    <span class="font-weight-bold d-block d-md-none">Cantidad x Precio</span>
                                    <span class="d-block">@Convert.ToDecimal(item.Cantidad).ToString("#,###,##0.0000")</span>
                                    <small class="d-block">x @Convert.ToDecimal(item.PrecioCosto).ToString("$#,###,##0.00")</small>
                                </div>
                                <div class="col-12 col-md-2 text-md-right">
                                    <span class="font-weight-bold d-block d-md-none">Importe</span>
                                    <span class="d-block">@Convert.ToDecimal(item.Cantidad * item.PrecioCosto).ToString("$#,###,##0.00")</span>
                                </div>
                                @if (!item.Entradas.Aplicado)
                                {
                                    <div class="col-12 col-md-2 text-right">
                                        <a asp-action="EditDetalle" asp-route-id="@item.EntradaDetalleID" class="text-decoration-none">
                                            <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="editar registro">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                        </a>
                                        <a href="#" data-id="@item.EntradaDetalleID" class="deleteConfirm text-decoration-none" data-toggle="modal" data-target="#deleteConfirm">
                                            <div class="btn-icon rounded-circle" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="eliminar registro">
                                                <i class="fa fa-trash"></i>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                        <div class="row no-gutters pt-4">
                            <div class="col-12 col-md-6 order-2 text-center text-md-left pt-3 pt-md-0 order-md-1">
                                @if (!Model.Aplicado)
                                {
                                    <a href="#" data-id="@Model.EntradaID" class="applyConfirm col-12 col-md-7 col-lg-5 btn btn-base text-decoration-none" data-toggle="modal" data-target="#applyConfirm">Aplicar Movimiento</a>
                                }
                            </div>
                            <div class="col-12 col-md-6 order-1 order-md-2 text-center text-md-right">
                                <h3 class="font-weight-bold">Total @Convert.ToDecimal(Model.EntradaDetalle.Sum(e => e.Cantidad * e.PrecioCosto)).ToString("$#,###,##0.00")</h3>
                            </div>
                        </div>                        
                    }
                    else
                    {
                        <p class="font-weight-bold text-base">Sin registro en el detalle de movimientos.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteConfirmDialog" />
<partial name="_ApplyConfirmDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        var itemToDelete, itemToApply;

        $(document).ready(function () {
            $('.applyConfirm').click((e) => {
                itemToApply = e.currentTarget.dataset.id;
            });

            $("#ApplyYesButton").click((e) => {
                window.location.href = '@Url.Action("Apply", "Entradas")' + '/' + itemToApply;
            });

            $('.deleteConfirm').click((e) => {
                itemToDelete = e.currentTarget.dataset.id;
            });

            $("#DeleteYesButton").click((e) => {
                window.location.href = '@Url.Action("DeleteDetalle", "Entradas")' + '/' + itemToDelete;
            });            
        });
</script>
}
