@model LAMBusiness.Web.Models.ViewModels.UsuarioDetailsViewModelUsuario

@{
    ViewData["Title"] = "Usuarios";
}

<div class="modal-content border-0 box-shadow">
    <div class="modal-header pb-0 align-items-baseline">
        <div>
            <h3 class="modal-title" id="exampleModalLabel">Usuarios</h3>
            <ul class="breadcrumb bg-transparent p-0 small">
                <li class="breadcrumb-item"><a asp-action="Contacto" asp-controller="Menu">Contactos</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Usuarios">Usuarios</a></li>
                <li class="breadcrumb-item active">Detalle</li>
            </ul>
        </div>
        <a asp-action="Index" asp-controller="Usuarios" class="btn-close me-md-1" aria-label="Close"></a>
    </div>
    <div class="modal-body py-4">
        <div class="row px-md-3">
            <div class="card-lam-d1 col-12">
                <div class="card-header-lam-d1">
                    <div class="d-block d-md-flex align-items-center row g-0">
                        <div class="col-12 col-md-auto">
                            <img class="rounded-circle me-4 ms-2" style="width:5rem;" src="@Url.Action("GetProfilePicture", "Sesion", new { id = Model.ColaboradorID, tipo = "median" })" alt="Image Profile" />
                        </div>
                        <div class="col-12 col-md-auto">
                            <p class="fw-bold m-0 py-2 pt-md-0 title">
                                @Html.DisplayFor(model => model.Colaborador.PrimerApellido)
                                @Html.DisplayFor(model => model.Colaborador.SegundoApellido)
                                @Html.DisplayFor(model => model.Colaborador.Nombre)
                            </p>
                            @if (Convert.ToBoolean(ViewBag.PermisoEscritura))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.UsuarioID" class="btn btn-base btn-sm rounded">Editar</a>
                            }
                            <a asp-action="Index" class="btn btn-sm btn-outline-secondary border">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body-lam-d1 mt-2">
                    <div class="row g-0 row-bordered border">
                        <div class="bg-row d-flex col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-user-tag display-4 text-secondary"></i>
                                <div class="ms-3">
                                    <div class="text-muted small">@Html.DisplayNameFor(model => model.Colaborador.CURP)</div>
                                    <h5>@Html.DisplayFor(model => model.Colaborador.CURP)</h5>
                                </div>
                            </div>
                        </div>
                        @if (Model.Administrador != null && Model.AdministradorID != "NA")
                        {
                            <div class="bg-row d-flex col-lg-4 col-lg align-items-center">
                                <div class="card-body d-flex align-items-center">
                                    <i class="fas fa-user-cog display-4 text-secondary"></i>
                                    <div class="ms-3">
                                        <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.Administrador.AdministradorNombre)</div>
                                        <h5 class="text-capitalize">@Html.DisplayFor(model => model.Administrador.AdministradorNombre)</h5>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="bg-row d-flex col-lg-4 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                @if (Model.Activo)
                                {
                                    <i class="far fa-check-circle display-4 text-success"></i>
                                    <div class="ms-3">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-success">Disponible</h5>
                                    </div>
                                }
                                else
                                {
                                    <i class="fas fa-ban display-4 text-danger"></i>
                                    <div class="ms-4">
                                        <div class="text-muted small line-height-1">Estatus</div>
                                        <h5 class="text-danger">No Disponible</h5>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 row-bordered border border-top-0">
                        <div class="bg-row d-flex col-lg-4 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-calendar display-4 text-secondary"></i>
                                <div class="ms-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.FechaInicio)</div>
                                    <h5>
                                        @Model.FechaInicio.ToString("dd MMMM, yyyy")
                                        <small class="ms-1 text-muted">@Model.FechaInicio.ToString("HH:mm")</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-lg-4 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-calendar display-4 text-secondary"></i>
                                <div class="ms-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.FechaTermino)</div>
                                    <h5>
                                        @Model.FechaTermino.ToString("dd MMMM, yyyy")
                                        <small class="ms-1 text-muted">@Model.FechaTermino.ToString("HH:mm")</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="bg-row d-flex col-lg-4 col-lg align-items-center">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-calendar display-4 text-secondary"></i>
                                <div class="ms-3">
                                    <div class="text-muted small line-height-1">@Html.DisplayNameFor(model => model.FechaUltimoAcceso)</div>
                                    <h5>
                                        @Model.FechaUltimoAcceso.ToString("dd MMMM, yyyy")
                                        <small class="ms-1 text-muted">@Model.FechaUltimoAcceso.ToString("HH:mm")</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer-lam-d1 mt-4">
                    @if (Convert.ToBoolean(ViewBag.PermisoEscritura))
                    {
                        <a asp-action="EditPermissions" asp-controller="Usuarios" asp-route-id="@Model.UsuarioID" class="btn btn-sm btn-base float-end"><i class="fas fa-edit"></i> Editar Permisos</a>
                    }
                    @if (Model.UsuarioModulos != null)
                    {
                        <p class="fw-bold text-base">Permisos asignados al usuario</p>
                        <hr class="mb-0" />
                        <div class="row g-0 py-1 d-none d-md-flex border-bottom">
                            <div class="col-md-6">
                                <span class="fw-bold d-block">Módulo</span>
                            </div>
                            <div class="col-md-2 text-md-center">
                                <span class="fw-bold d-block">Lectura</span>
                            </div>
                            <div class="col-md-2 text-md-center">
                                <span class="fw-bold d-block">Escritura</span>
                            </div>
                            <div class="col-md-2 text-md-center">
                                <span class="fw-bold d-block">Imprimir</span>
                            </div>
                        </div>
                        foreach (var item in Model.UsuarioModulos)
                        {
                            <div class="bg-row row align-items-center border-bottom py-2 px-2 g-0">
                                <div class="col-12 col-md-6">
                                    @*<span class="fw-bold d-block d-md-none">Módulo</span>*@
                                    <span class="d-block">@item.Modulo.Descripcion</span>
                                </div>
                                <div class="col-4 col-md-2 text-center">
                                    <span class="d-block d-md-none">Lectura</span>
                                    <span class="d-block">
                                        @if (item.PermisoLectura)
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times text-muted"></i>
                                        }
                                    </span>
                                </div>
                                <div class="col-4 col-md-2 text-center">
                                    <span class="d-block d-md-none">Escritura</span>
                                    <span class="d-block">
                                        @if (item.PermisoEscritura)
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times text-muted"></i>
                                        }
                                    </span>
                                </div>
                                <div class="col-4 col-md-2 text-center">
                                    <span class="d-block d-md-none">Imprimir</span>
                                    <span class="d-block">
                                        @if (item.PermisoImprimir)
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times text-muted"></i>
                                        }
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="row g-0 pt-4">
                            <div class="col-12 col-md-6 order-2 text-center text-md-start pt-3 pt-md-0 order-md-1">
                                <a asp-action="Index" class="btn btn-outline-secondary text-decoration-none">Regresar</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="fw-bold text-base">Sin registro de permisos asignados al usuario.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Convert.ToBoolean(ViewBag.PermisoEscritura))
{
    <partial name="_DeleteConfirmDialog" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var itemToDelete;

        $(document).on('click', '.deleteConfirm', function (e) {
            e.preventDefault();
            itemToDelete = e.currentTarget.dataset.id;
        });
        $(document).on('click', '#DeleteYesButton', function (e) {
            window.location.href = '@Url.Action("DeleteContacto", "Usuarios")' + '/' + itemToDelete;
        });
    </script>
}
