@model LAMBusiness.Shared.Aplicacion.Token

@{
    ViewData["Title"] = "Inicio";
}

<div class="modal-body py-4">
    @* <div class="card mb-4 text-dark rounded-lam-lg">
    <div class="card-body py-3 py-4 py-lg-5">
    <div class="row align-items-center">
    <div class="col-3 col-lg-2 text-center">
    <img src="@Url.Action("GetProfilePicture", "Sesion", new { id = ViewBag.Id, tipo = "median" })" class="rounded-circle image-profile" alt="Image Profile" />
    </div>
    <div class="col text-start">
    <h2 class="m-0">
    ¡Hola,
    <span class="text-capitalize">
    @Model.Nombre.ToLower()
    @Model.PrimerApellido.ToLower()
    </span>!
    </h2>
    <p class="text-muted ms-2">
    Tienes 2 mensajes sin leer...
    </p>
    </div>
    </div>
    </div>
    </div> *@
    <div class="">
        <div class="row g-0">
            <!-- entradas -->
            <div class="col-12 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Entradas</div>
                    <div class="text-center my-4">
                        <div id="totalDeEntradas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>                        
                        <small class="text-muted">Total de entradas</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Entradas</div>
                    <div class="text-center my-4">
                        <div id="totalDeEntradasAplicadas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de entradas aplicadas</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Entradas</div>
                    <div class="text-center my-4">
                        <div id="totalDeEntradasNoAplicadas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de entradas no aplicadas</small>
                    </div>
                </div>
            </div>
            <!-- salidas -->
            <div class="col-12 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Salidas</div>
                    <div class="text-center my-4">
                        <div id="totalDeSalidas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de salidas</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Salidas</div>
                    <div class="text-center my-4">
                        <div id="totalDeSalidasAplicadas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de salidas aplicadas</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Salidas</div>
                    <div class="text-center my-4">
                        <div id="totalDeSalidasNoAplicadas">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de salidas no aplicadas</small>
                    </div>
                </div>
            </div>
            <!-- productos -->
            <div class="col-12">
                <div class="bg-white border rounded-lam-lg p-3 m-2">
                    <div class="fw-bold text-dark">Productos</div>
                    <div class="text-center my-4">
                        <div id="totalDeProductosNegativos">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">Total de productos negativos</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function ObtenerDatosDeEntradas() {
            $.ajax({
                url: '@Url.Action("GetCountDashboardEntradas", "Home")',
                method: 'POST',
                dataType: 'json',
                success: function (r) {
                    console.log(r);
                    let totalDeEntradas = document.getElementById('totalDeEntradas');
                    totalDeEntradas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientos}</h1>`;
                    let totalDeEntradasAplicadas = document.getElementById('totalDeEntradasAplicadas');
                    totalDeEntradasAplicadas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientosAplicados}</h1>`;
                    let totalDeEntradasNoAplicadas = document.getElementById('totalDeEntradasNoAplicadas');
                    totalDeEntradasNoAplicadas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientosNoAplicados}</h1>`;
                },
                error: function(r){
                    console.log(r);
                },
                cache: false
            });
        }
        function ObtenerDatosDeSalidas() {
            $.ajax({
                url: '@Url.Action("GetCountDashboardSalidas", "Home")',
                method: 'POST',
                dataType: 'json',
                success: function (r) {
                    console.log(r);
                    let totalDeSalidas = document.getElementById('totalDeSalidas');
                    totalDeSalidas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientos}</h1>`;
                    let totalDeSalidasAplicadas = document.getElementById('totalDeSalidasAplicadas');
                    totalDeSalidasAplicadas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientosAplicados}</h1>`;
                    let totalDeSalidasNoAplicadas = document.getElementById('totalDeSalidasNoAplicadas');
                    totalDeSalidasNoAplicadas.innerHTML = `<h1 class="text-primary">${r.totalDeMovimientosNoAplicados}</h1>`;
                },
                error: function (r) {
                    console.log(r);
                },
                cache: false
            });
        }
        function ObtenerDatosDeProductos() {
            $.ajax({
                url: '@Url.Action("GetCountDashboardProductos", "Home")',
                method: 'POST',
                dataType: 'json',
                success: function (r) {
                    console.log(r);
                    let totalDeProductosNegativos = document.getElementById('totalDeProductosNegativos');
                    totalDeProductosNegativos.innerHTML = `<h1 class="text-primary">${r.productosNegativos}</h1>`;
                },
                error: function (r) {
                    console.log(r);
                },
                cache: false
            });
        }

        ObtenerDatosDeEntradas();
        ObtenerDatosDeSalidas();
        ObtenerDatosDeProductos();
    </script>
}