@model LAMBusiness.Shared.Dashboard.Movimiento

@{
    ViewData["Title"] = "Movimiento";
}

<div class="pb-0">
    <div>
        <h3 class="modal-title" id="exampleModalLabel">Movimientos</h3>
        <ul class="breadcrumb bg-transparent p-0 small">
            <li class="breadcrumb-item">Menú</li>
            <li class="breadcrumb-item active">Movimiento</li>
        </ul>
    </div>
</div>
<div class="modal-body py-4">
    <div class="row">
        <!--Ventas-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("a0ca4d51-b518-4a65-b1e3-f0a03b1caff8")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Ventas" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-shopping-cart display-4 text-success mb-3"></i>
                            <h4 class="mb-0">Ventas</h4>
                            <p class="mb-2">Movimiento de ventas</p>
                            <span class="badge bg-light border text-dark fw-normal">@Model.Ventas registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <!--Retiro de caja-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("aa3e3482-0ec5-40b8-8c48-7e567da135f6")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Retiros" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-cash-register display-4 text-secondary mb-3"></i>
                            <h4 class="mb-0">Retiro de caja</h4>
                            <p class="mb-2">Retiro de efectivo parcial</p>
                            <span class="badge bg-light border text-dark fw-normal">@Model.RetiroDeCaja registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <!--Corte de caja-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("7b848778-36f0-4254-b2a1-b822c9ab87b3")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="CortesDeCajas" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-file-invoice-dollar display-4 text-primary mb-3"></i>
                            <h4 class="mb-0">Corte de caja</h4>
                            <p class="mb-2">Finaliza y reinicia las ventas del día</p>
                            <span class="badge bg-light border text-dark fw-normal">0 registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <!--Entradas-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("b019ebf0-5a25-4cc3-bd72-34fda134e5c1")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Entradas" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-arrow-alt-circle-down display-4 text-info mb-3"></i>
                            <h4 class="mb-0">Entradas</h4>
                            <p class="mb-2">Movimiento de entradas</p>
                            <span class="badge bg-light border text-dark fw-normal">@Model.Entradas registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <!--Salidas-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("d6dc97d9-c3de-4920-a0b1-b63d7685bb6a")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Salidas" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-arrow-alt-circle-up display-4 text-base mb-3"></i>
                            <h4 class="mb-0">Salidas</h4>
                            <p class="mb-2">Movimiento de salidas</p>
                            <span class="badge bg-light border text-dark fw-normal">@Model.Salidas registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <!--Inventarios-->
        @if (Model.ModulosMenu.Contains(Guid.Parse("1d1048a7-44fe-44b5-abc8-cf0a4dfc0aff")))
        {
            <div class="btn-lam col-xl-4 col-md-6">
                <a asp-action="Index" asp-controller="Inventarios" class="text-decoration-none">
                    <div class="card mb-4 text-dark">
                        <div class="card-body bg-card text-center py-5">
                            <i class="fas fa-exchange-alt display-4 text-warning mb-3"></i>
                            <h4 class="mb-0">Inventarios</h4>
                            <p class="mb-2">Inventarios de productos</p>
                            <span class="badge bg-light border text-dark fw-normal">@Model.Inventario registro(s)</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>